.emptyPages{
    background-color: rgba(120, 120, 120, .2);;
    height: 100%;
    overflow: hidden;
    border-radius: 6px 0 0 0;
    position: relative;
}
.emptyPages p{
    color: rgba(120, 120, 120, 1);;
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}