.TasksContainer{
    padding-top: 80px;
    margin-left: 10%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color:#FEE600 #fff ;
}

.TasksContainer::-webkit-scrollbar {
    width: 2px;
}
.TasksContainer::-webkit-scrollbar-thumb {
    background-color: #FEE600;
    border-radius: 4px;
}
.taskDisplay-list{
    grid-template-columns:  calc(96% + 20px);
    display: grid;
    gap: 10px;
}
.taskDisplay-list button{
    width: 10%;
}
.taskDisplay-tile{
    grid-template-columns: repeat(3, 32%);
    display: grid;
    gap: 10px;
}
.taskDisplay-tile button{
    width: 30%;
}
.emptyPages{
    background-color: rgba(120, 120, 120, .2);;
    height: 100%;
    overflow: hidden;
    border-radius: 6px 0 0 0;
    position: relative;
}
.emptyPages p{
    color: rgba(120, 120, 120, 1);;
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}