.header{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    text-align: center;
    line-height: 75px;
    margin-left: 10%;
    position: fixed;
    width: 100%;
}
.header__mapping__title{
margin-right: 10px;
}

.header__mapping__list,
.header__mapping__tile
{
    line-height: 35px;
    border: 1px solid #FEE600;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    text-indent: 35px;
    margin-right: 5px;
    position: relative;
}
.header__mapping__list::before{
    content: "";
    background: url(../../../public/img/listBtn.svg) no-repeat ;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7px);
    left: 15px;
}
.header__mapping__tile::before{
    content: "";
    background: url(../../../public/img/tileBtn.svg) no-repeat;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: calc(50% - 7px);
    left: 15px;
}

.header__btnCreateTask{
background-color: #93EC91;
/* margin-top: 12.5px; */
margin: 12.5px auto 0 auto;
height: 50px;
width: 80%;
border-radius: 6px;
font-size: 18px;
font-weight: 500;
position: relative;
}
.header__btnCreateTask::before{
    content: "+";
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}